/* ________________________________________ Table of Contents

Global
Header &	Navigation

Home
Chord Changes
Songs
	Song List
	Song Details
	New Song
@Media
___________________________________________ Global */

@import url(http://fonts.googleapis.com/css?family=Source+Serif+Pro:400,600,700|Roboto+Condensed:400,700,300);


html, body {
	height: 100%;
	margin: 0px;
	background-color: #eee;
	font-family: 'Source Serif Pro', serif;
}


a{
	color: #333;
	text-decoration: none;
}

/* reset margins */
h1, h2, h3, h4, ul, li, p	{ margin:0px; padding: 0px;}


/* ___________________________________________ Header &	Navigation */

header{
	display:flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: baseline;
	padding: .5em 1em;
}

header div{
	flex: 1 1 100%;
	order:2;
	text-align: center;
}
header #back{
	max-width: 1.5em;
	order:1;
	margin-right: auto;
}
header #addEdit, .addEdit, #blank	{
	max-width: 1.5em;
	order:3;
	margin-right: auto;
}


h1			{ font-size: 1.75em; font-weight: 600; }
h2, h3	{ font-size: .875em; font-weight: 400; }
h4 		{ font-size: .875em; font-weight: 400; text-align: center; }


/* ___________________________________________ Home */

#homeNav {
	min-height: 100%;
	display: flex;
	flex-flow: column;
}

#homeNav > a {
	flex: 1;
	margin: 1em;
	padding: 1em;
	background: #fff;
	border: 1px solid #ddd;
	text-align: center;

	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
}

#homeNav > a:last-of-type {
	margin-top: 0em;
}

#homeNav h1{
	margin-bottom: 1em;
}

/* ___________________________________________ Songs */
/*	---------------- Songs List */

#songList li{
	display: flex;
	align-items: center;
	border-bottom: 1px solid #aaa;
	padding: 1em;
	list-style-type: none;
}

#songList li:first-child{
	border-top: 1px solid #aaa;
}

#songList img{
	margin-left: auto;
	height: 1.5em;
}

#songList p:first-of-type{
	font-size: 1.25em;
}

#songList p:last-of-type{
	font-size: .8125em;
	color:#555;
	line-height: 1.75em;
}

/*	---------------- Songs Details */

.chordSection, #strum{
	padding: 0em 1em 1em 1em;
}

.barContainer{
	font-family: 'Roboto Condensed';
	font-size: 1.75em;
	display: flex;
	flex-flow: row wrap;
}

.barContainer ul{
	display: flex;
	justify-content: center;
	width: 86px;
	border-left: 1px solid #CCC;
	margin: .25em 0em;
	padding: .2em 0em;
}

.barContainer ul:last-of-type{
	border-right: 1px solid #CCC;
}

.barContainer li, #strum li{
	display: flex;
	flex-flow: column;
	list-style-type: none;
	text-align: center;
}

.barContainer sub{
	font-size: .375em;
	margin-top: -.625em;
}

#strum ul{
	display: flex;
	justify-content: center;
	margin-top: 1em;
}

#strum li{
	margin: 0em .0625em;
}

/*	---------------- New Song */

#newSong{
	display: flex;
	flex-flow: column;
	align-items:center;
	min-width: 100%;
}

#newSong input{
	width: 100%;
	background-color: #fafafa;
	font-family: 'Source Serif Pro', serif;
	font-size: 2.5em;
	text-align: center;
	margin-bottom: .25em;
	border:0em;
}

#newSong > div{
	display: flex;
	align-items: baseline;
	width: 100%;
}

#newSong > div > input{
	flex: 1 1 100%;
	width: 100%;
	border:0em;
	text-align: right;
}

.inputLabel{
	flex: 1 1 100%;
	background-color: #fafafa;
	border-left: none;
	font-family: 'Source Serif Pro', serif;
	font-size: 2.5em;
	padding: 1px 0;
}


#newSongBars{
	margin-left: 1em;
	margin-right: 1em;
}

.newSongSection{
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}

.newBarGroup{
	padding: .2em;
	margin:.2em;
	background-color: #ddd;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}

.newBarGroup:last-of-type{
	width: 16.7em;
	height: 2.9em;
	align-items: center;
}

.newBarGroup select{
	font-family: 'Roboto Condensed', serif;
	font-size: 1.2em;
	height: 2em;
	padding:0px;
	border: 0px;
	margin:.2em;
}

#dragStrum{
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
}

#dragTarget{
	width: 400px;
	height: 2.9em;
	background-color: #ddd;
}
