/* ________________________________________ Table of Contents

Global
Header &	Navigation
Home
Songs
	Song List
	Song Details
	New Song
Chord Changes
@Media
___________________________________________ Global */

@import url(http://fonts.googleapis.com/css?family=Source+Serif+Pro:400,600,700|Roboto+Condensed:300,400,700);



html, body {
	height: 100%;
	margin: 0px;
	background-color: #eee;
	font-family: 'Source Serif Pro', serif;
}


a{
	color: #222;
	text-decoration: none;
	font-weight: normal;
}

/* reset margins & padding */
h1, h2, h3, h4, ul, li, p
{ margin: 0px; padding: 0px;}


/* ___________________________________________ Header &	Navigation */

header{
	display:flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: baseline;
	padding: .5em 1em;
}

header div{
	flex: 1 1 100%;
	order:2;
	text-align: center;
}
header #back{
	max-width: 1.5em;
	order:1;
	margin-right: auto;
}
header #addEdit, .addEdit, #blank	{
	max-width: 1.5em;
	order:3;
	margin-right: auto;
}


h1				{ font-size: 1.75em; font-weight: 600; }
#homeNav h1	{ font-size: 2.75em; font-weight: 400; }
h2, h3		{ font-size: .875em; font-weight: 400; }
h4 			{ font-size: .875em; font-weight: 400; text-align: center; }


/* ___________________________________________ Home */

#homeNav {
	min-height: 100%;
	display: flex;
	flex-flow: column;
		font-weight: 400;
}

#homeNav > a {
	flex: 1;
	margin: 1em;
	padding: 1em;
	text-align: center;
	font-family: 'Roboto Condensed';

	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
}

#homeNav h1{}

#homeNav > a:last-of-type {
	margin-top: 0em;
}

#homeNav h1{
	margin-bottom: 1em;
}

/* ___________________________________________ Songs */
/*	---------------- Songs List */

#songList_ul li{
	display: flex;
	align-items: center;
	border-bottom: 1px solid #aaa;
	padding: 1em;
	list-style-type: none;
}

#songList_ul li:first-child{
	border-top: 1px solid #aaa;
}

#songList_ul img{
	margin-left: auto;
	height: 1.5em;
}

#songList_ul p:first-of-type{
	font-size: 1.25em;
}

#songList_ul p:last-of-type{
	font-size: .8125em;
	color:#555;
	line-height: 1.75em;
}

/*	---------------- Songs Details */

#song_container{
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;
}

.chordSection, #strum{
	padding: 0em 1em 1em 1em;
}

.bars{
	font-family: 'Roboto Condensed';
	font-size: 1.75em;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}

.bars ul{
	display: flex;
	justify-content: center;
	width: 86px;
	border-left: 1px solid #CCC;
	margin: .25em 0em;
	padding: .2em 0em;
}

.bars ul:last-of-type{
	border-right: 1px solid #CCC;
}

.bars li, #strum_container li{
	display: flex;
	flex-flow: column;
	list-style-type: none;
	text-align: center;
}

.bars sub{
	font-size: .375em;
	margin-top: -.625em;
}

#strum_container ul{
	display: flex;
	justify-content: center;
	margin-top: 1em;
}

#strum_container li{
	margin: 0em .0625em;
}

/*	---------------- New Song */

#newSong{
	display: flex;
	flex-flow: column;
	align-items:center;
	min-width: 100%;
}

#newSong input{
	width: 100%;
	background-color: #fafafa;
	font-family: 'Source Serif Pro', serif;
	font-size: 2.5em;
	text-align: center;
	margin-bottom: .25em;
	border:0em;
}

#newSong > div{
	display: flex;
	align-items: baseline;
	width: 100%;
}

#newSong > div > input{
	flex: 1 1 100%;
	width: 100%;
	border:0em;
	text-align: right;
}

.inputLabel{
	flex: 1 1 100%;
	background-color: #fafafa;
	border-left: none;
	font-family: 'Source Serif Pro', serif;
	font-size: 2.5em;
	padding: 1px 0;
}


#newSongBars{
	margin-left: 1em;
	margin-right: 1em;
}

.newSongSection{
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}

.newBarGroup{
	padding: .2em;
	margin:.2em;
	background-color: #ddd;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}

.newBarGroup:last-of-type{
	width: 16.7em;
	height: 2.9em;
	align-items: center;
}

.newBarGroup select{
	font-family: 'Roboto Condensed', serif;
	font-size: 1.2em;
	height: 2em;
	padding:0px;
	border: 0px;
	margin:.2em;
}

#dragStrum{
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
}

#dragTarget{
	width: 400px;
	height: 2.9em;
	background-color: #ddd;
}


/* ___________________________________________ Chord Changes */

#chordChg{
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;
}
/*	---------------- Timer */

#timer_container{
	z-index: 0;
	position: relative;
	display: flex;
	width: 174px;
	height: 174px;
	cursor: pointer;

}

#timer_container canvas{
	z-index: 0;
	position: absolute;
	top:0;
	left:0;
	width: 174px;
	height: 174px;
}

#toggleTxt{
	z-index: 0;
	position: absolute;
	top:0;
	left:0;
	width: 174px;
	height: 174px;
}

#startReset{
	z-index: 1;
	position: absolute;
	top:0;
	left:0;
	width: 174px;
	height: 174px;
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 3.5em;
	font-weight: 400;

	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;

}

#n_timer{
	margin-top: 5px;
}

/*	---------------- Records */

#chordRecords{
	margin: 1em 1em;
	width: auto;
	display: flex;
	flex-flow: row wrap;
}
#chordRecords ul{
	width: 90%;
	margin: auto;
}
#chordRecords li{
	float:left;
	border:1px solid #ddd;
	background-color: white;
	min-width: 100px;
	min-height: 100px;
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	justify-content: center;
	margin: .2em;
}

#chordRecords h3{
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 1.75em;
}

.overlayContainer{
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	top:0;
	left:0;
	width: 100%;
	height: 100%;
	background-color: rgba(255,255,255,.5);
	z-index: 1000;
}

.hidden{
	visibility: hidden;
}
.overlay{
	background-color: #fff;
	border: 1px solid #aaa;
	box-shadow: 0px 0px 20px rgba(0,0,0,.15);
	padding: 1em;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
}

#chordChg select{
	font-family: 'Roboto Condensed', serif;
	font-size: 1.75em;
	height: 2em;
	padding:0px;
	border: 1px solid #aaa;
	margin:.2em;
   background-color: #fff;
}
#chordChg button{
  font-family: 'Roboto Condensed', serif;
  font-size: 1.2em;
  padding: .5em  1em;
  border: 1px solid #aaa;
  margin:.5em;
  background-color: #fff;
}


#chordDetail select{
	margin: 0em;
}

.chordChg, .scrollUp{
	display: flex;
	flex-flow: column;
	align-items: center;
}
