/* ________________________________________ Table of Contents

Global
Home & Nav
Chord Changes
Songs
	Song List
	Song Details
	New Song

___________________________________________ Global */

@import url(http://fonts.googleapis.com/css?family=Source+Serif+Pro:400,600,700|Roboto+Condensed:400,700,300);

*{
	margin:	0px;
	border:	0px;
	padding: 0px;
}

body{
	background-color:#eee;
	font-family: 'Source Serif Pro', serif;
}

a{
	color: #222;
	text-decoration: none;
}
header{
	display: flex;
	align-items:flex-start;
	margin-bottom: 1em;
}


hgroup	{text-align:center;}
h1			{font-size: 1.75em; font-weight: 600;}
h2, h3	{font-size: .875em; font-weight: 400;}
h4 		{font-size: .875em; font-weight: 400;text-align: center;}

header hgroup		{flex:1; order:2;}
#back					{order:1; width:24px; margin: .5em 0em 0em .5em;}
#addEdit, #blank	{order:3; width:24px; margin: .5em .5em 0em 0;}
#next, #complete	{margin-top:1em; display: flex; justify-content: center;}



/* ________________________________________ Home &	Nav */
.navLg{
	box-sizing: border-box;
	width: 95%;
	height: 20%;
	margin: 20px auto;
	padding: 10% 0;
	background: #fff;
	border: 1px solid #ddd;
}

.h2{
	font-family: Verdana, sans-serif;
	font-size: 2em;
	text-align: center;
	display: block;
}

.navLg img{
	display:block;
	width: 60px;
	margin: 20px auto;
}


/* ________________________________________ Chord Changes */


/* ________________________________________ Songs */

/*	---------------- Songs List */

#songList li{
   display: flex;
	padding: 1em;
	border-bottom: 1px solid #aaa;
	align-items: center;
}

#songList li:hover{
	background-color: #fff;
	cursor: pointer;
}

#songList li:first-child{
	border-top: 1px solid #aaa;
}

#songList img{
	width: 1em;
}

.songId{
	flex:1;
}
.songId p:first-of-type{
	font-size: 1.25em;
}

.songId p:last-of-type{
	font-size: .8125em;
	color:#555;
	line-height: 1.75em;
}

/*	---------------- Songs Details */


.chordSection, #strum{
	padding: .5em 1em;
}

.barContainer{
	font-family: 'Roboto Condensed';
	font-size: 1.75em;
	display: flex;
	flex-wrap: wrap;
}

.barContainer ul{
	display: flex;
	justify-content: center;
	width: 90px;
	border-left: 1px solid #CCC;
	margin-top: .25em;
	margin-bottom: .25em;
	padding-top: .2em;
	padding-bottom:.05em;
}

.barContainer ul:last-of-type{
	border-right: 1px solid #CCC;
}

.barContainer li{
	display: block;
	float:left;
	list-style-type: none;
	text-align: center;
}

.barContainer sub{
	display: block;
	font-size: .375em;
	margin-top: -.625em;
}

#strum ul{
	display: flex;
	justify-content: center;
	margin-top: .5em;
}

#strum li{
	display: block;
	float:left;
	list-style-type: none;
	text-align: center;
	margin: 0 .0625em;
}

#strum sub{
	display: block;
	margin-top: -.125em;
}

/*	---------------- New Song */
#newSong{
	display: flex;
	flex-flow: column;
}



#newSong input{
	flex: 1;
	background: none;
	font-family: 'Source Serif Pro', serif;
	font-size: 2.5em;
	text-align: center;
	line-height: 2em;
}

#newSong input:focus{
	color: orange;
}

/* keep labels for Capo &	BPM */
#newSong div{
	display: flex;
	justify-content: center;
}

#newSong div input{
	width: 100px;
	flex: none;
}

#newSong div span{
	font-family: serif;
	font-size: 2.5em;
	line-height: 2em;
}

#newSong ul{
	width: 180px;
}

#newSong select{
	font-family: 'Roboto Condensed', serif;
	font-size: .625em;
	height: 2em;
	width:45px;
	padding:0px;
}
