@import url("https://fonts.googleapis.com/css?family=Lobster");
@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700");
@import url("https://fonts.googleapis.com/css?family=Source+Code+Pro");


//                          HEADER TAG DESCRIPTIONS
/*
H1: Page Title
H2: Page Sub-Title, Line 1
H3: Page Sub-Title, Line 2
H4: Section Header
H5: Label
H6: Description
*/



//                          COLORS

@black: #263238;
@white: #F5F5F5;
@teal: #0097A7;
@red: #EF5350;
@orange: #FF8A65;



//                          GRADIENT BACKGROUNDS

.gradient(gray){
    background: linear-gradient(55deg, #000, #37474F);
}

.gradient(blue){
    background: linear-gradient(55deg, #006064, #4DB6AC);
}

.gradient(orange){
    background: linear-gradient(55deg, #EF5350, #FFCC80);
}

.gradient(guitar){
    background-image: url('../img/bg_amp.jpg');
    background-size: cover;
    background-position: top center;
}

.shadow(dark){
    box-shadow: 0rem 0rem 8/16rem #000;
}

.shadow(light){
    box-shadow: 0rem 0rem 8/16rem fade(@black, 25%);
}


//                          FONTS

.f-lobster{
    font-family: 'Lobster', cursive;
    -webkit-font-smoothing: antialiased;
}

.f-roboto{
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
}

.f-mono{
    font-family: 'Source Code Pro', monospace;
}

.f-title(@color:@white){
    .f-lobster;
    font-size: 36/16rem;
    text-align: center;
    color:@color;
}

.f-sml(@color:@white){
    .f-roboto;
    font-size: 1rem;
    color:@color;
    text-align: center;
}

.f-section(@color:@red){
    .f-roboto;
    font-weight: 700;
    font-size: 1rem;
    text-transform: uppercase;
    text-align: center;
    color:@color;
}

.f-button(@color:@teal){
    .f-roboto;
    font-size: 20/16rem;
    color:@color;
    text-align: center;
}

.f-label(@color:@teal){
    .f-roboto;
    font-size: 24/16em;
    color:@color;
}

.f-detail(@color:@black){
    .f-roboto;
    font-size: 1em;
    color:@color;
    line-height: 24/16em;
}

.f-chords(@color:@black){
    .f-mono;
    font-size: 36/16em;
    color:@color;
}

.f-form(@_){
    .f-roboto;
    color:@white;
    text-align: center;
    -webkit-font-smoothing: antialiased;
}

.f-form(label){
    font-size: 1em;
    font-weight: 700;
    opacity: .3;
    text-transform: uppercase;
}

.f-form(field){
    font-size: 36/16em;
    font-weight: 400;
    opacity: 1;
}

.f-timer{
    .f-roboto;
    font-size: 60/16em;
    font-weight: 400;
    color:@white;
    text-align: center;
    -webkit-font-smoothing: antialiased;
}



//                             FIX THIS
.f-counter(lg){
    font-size: 80/16em;
}

.f-counter(sm){
    font-size: 60/16em;
}

.f-counter(@_, @color){
    .f-roboto;
    color: @color;
}

&::placeholder{
    color: fade(@white, 30%);
}
&::-webkit-input-placeholder{
    color: fade(@white, 30%);
}
&::-moz-placeholder{
    color: fade(@white, 30%);
}
&::-ms-input-placeholder{
    color: fade(@white, 30%);
}



//                          BUTTONS
.a-button(@color){
    border: 3px solid @color;
    border-radius: 50%;
    height: 48/16em;

    .f-roboto;
    font-size: 20/16em;
    color:@color;
    text-align: center;
    vertical-align: middle;
}



//                          CUSTOM KEYBOARD

.keyboard_mixin(@color:@teal){
    z-index: 1000;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 230/16rem;
    padding: 1rem 24/16rem;
    background-color: @white;
    & .alpha, & .accent{
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
        margin-bottom: 2/16rem;

    }
    & .alpha button, & .accent button{
        flex: 1 0 auto;
        width: auto;
        height: 32/16rem;
        margin: 0rem 1/16rem;
        border: 1px solid fade(@color,0%);
        border-radius: 10/16rem;
        color: @color;
        background-color: @white;
        outline: none;
        &:hover{
            box-sizing: border-box;
            border:1px solid fade(@color,40%);
        }
    }
    & .accent button{
        flex-basis: 50%;
    }
    & .active{
        background-color: fade(@color,20%) !important;
    }
    & .submit{
        display: flex;
        & button{
            margin: 12/16rem 0;
            background: none;
            color: @color;
            border: 3px solid @color;
            &:hover{
                background-color: fade(@color,15%);
            }
        }
        & button:first-of-type{
            margin-right: 12/16rem;
        }
    }
    i{
        display: inline-block;
        &.strum_down{
            width: 20/16rem;
            height: 20/16rem;
            background-image: url('../img/strum_down_teal.svg');
        }
        &.strum_up{
            width: 20/16rem;
            height: 20/16rem;
            background-image: url('../img/strum_up_teal.svg');
        }
        &.strum_blank{
            width: 20/16rem;
            height: 20/16rem;
            background-image: url('../img/strum_blank_teal.svg');
        }
        &.strum_mute{
            width: 10/16rem;
            height: 10/16rem;
            margin-top: 4/16rem;
            background-image: url('../img/strum_mute_teal.svg');
        }
        &.strum_accent{
            width: 10/16rem;
            height: 10/16rem;
            margin-top: 4/16rem;
            background-image: url('../img/strum_accent_teal.svg');
        }
    }
    &.strum .alpha {
        justify-content: center;
        flex-wrap: wrap;
        & h4{
            color:@color;
            flex-basis: 100%;
        }
        button{
            max-width: 44/16rem;
        }
    }
}
