/*
H1: Page Title
H2: Page Sub-Title, Line 1
H3: Page Sub-Title, Line 2
H4: Section Header
H5: Label
H6: Description
*/
@import url("https://fonts.googleapis.com/css?family=Lobster");

@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700");

@import url("https://fonts.googleapis.com/css?family=Source+Code+Pro");
/*
H1: Page Title
H2: Page Sub-Title, Line 1
H3: Page Sub-Title, Line 2
H4: Section Header
H5: Label
H6: Description
*/
.f-lobster {
  font-family: 'Lobster', cursive;
  -webkit-font-smoothing: antialiased;
}
.f-roboto {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 400;
}
.f-mono {
  font-family: 'Source Code Pro', monospace;
}
.f-timer {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 400;
  font-size: 3.75em;
  font-weight: 400;
  color: #f5f5f5;
  text-align: center;
  -webkit-font-smoothing: antialiased;
}
::placeholder {
  color: rgba(245, 245, 245, 0.3);
}
::-webkit-input-placeholder {
  color: rgba(245, 245, 245, 0.3);
}
::-moz-placeholder {
  color: rgba(245, 245, 245, 0.3);
}
::-ms-input-placeholder {
  color: rgba(245, 245, 245, 0.3);
}
* {
  box-sizing: border-box;
  text-decoration: none;
  margin: 0;
  padding: 0;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 400;
  font-size: 1em;
  color: #263238;
  line-height: 1.5em;
}
body.bg_primary {
  background: linear-gradient(55deg, #000000, #37474f);
}
body.bg_exercise {
  background: linear-gradient(55deg, #ef5350, #ffcc80);
}
body.bg_song {
  background: linear-gradient(55deg, #006064, #4db6ac);
}
body.bg_photo {
  background-image: url('../img/bg_amp.jpg');
  background-size: cover;
  background-position: top center;
}
body.bg_white h1,
body.bg_white h2,
body.bg_white h3,
body.bg_white footer {
  color: #263238;
}
body {
  padding: 0.75rem 0.375rem 0 0.375rem;
}
h1 {
  font-family: 'Lobster', cursive;
  -webkit-font-smoothing: antialiased;
  font-size: 2.25rem;
  text-align: center;
  color: #f5f5f5;
}
h2,
h3 {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: #f5f5f5;
  text-align: center;
}
h4 {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 400;
  font-weight: 700;
  font-size: 1rem;
  text-transform: uppercase;
  text-align: center;
  color: #ef5350;
}
h5 {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 400;
  font-size: 1.5em;
  color: #0097a7;
}
h6 {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 400;
  font-size: 1em;
  color: #263238;
  line-height: 1.5em;
}
button {
  width: 100%;
  height: 3rem;
  margin: 1.5em 0;
  vertical-align: middle;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 400;
  font-size: 1.25rem;
  color: #0097a7;
  text-align: center;
  background-color: #000;
  border: 3px solid #0097a7;
  border-radius: 1.5em;
  cursor: pointer;
}
a {
  display: inline-block;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 400;
  font-size: 1em;
  color: #0097a7;
  line-height: 1.5em;
}
header a {
  position: absolute;
  top: 1.5rem;
}
header a#primary {
  left: 1.5rem;
}
header a#secondary {
  right: 1.5rem;
}
footer {
  margin-top: 1.5rem;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: #f5f5f5;
  text-align: center;
  text-align: center;
  opacity: .25;
}
ul {
  list-style-type: none;
  padding-left: 0rem;
}
ul.list {
  margin: 3.75rem 0;
}
ul.list li {
  transition: background-color 0.3s;
  background-color: #f5f5f5;
  margin-bottom: 0.375rem;
  position: relative;
  border-radius: 0.25rem;
  box-shadow: 0rem 0rem 0.5rem #000000;
}
ul.list li:hover {
  background-color: #fff;
  transition: background-color 0.3s;
}
ul.list li a {
  display: flex;
  flex-wrap: wrap;
}
ul.list li img {
  width: 2rem;
  height: 2rem;
  flex: 0 1 auto;
}
ul.landing a {
  padding: 1.5rem;
}
ul.landing img {
  margin-right: 0.75rem;
  order: 1;
}
ul.landing div {
  order: 2;
}
ul.exercises a {
  align-items: center;
  padding: 1rem 1.125rem;
}
ul.exercises img {
  flex: 0 1 auto;
  order: 3;
  margin-left: 0.75rem;
}
ul.exercises h5 {
  flex: 1 1 auto;
  order: 1;
}
ul.exercises h6 {
  flex: 0 1 auto;
  order: 2;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 400;
  font-size: 1.5em;
  color: #263238;
}
ul.songs a {
  align-items: center;
  padding: 1rem 1.5rem;
}
ul.songs div {
  flex: 1 1 auto;
  order: 1;
}
ul.songs img {
  flex: 0 1 auto;
  order: 2;
  margin-left: 0.75rem;
}
ul.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 1.125rem;
}
ul.content li {
  padding: 0 0.75rem;
  margin: 0.375rem 0;
  height: 2.75rem;
  line-height: 2.75rem;
  border-right: 1px solid #ddd;
  font-family: 'Source Code Pro', monospace;
  font-size: 2.25em;
  color: #263238;
}
ul.strum {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0.75rem 1.125rem 0 1.125rem;
  padding-left: 0rem;
}
ul.strum li {
  display: flex;
  flex-flow: column;
  align-items: center;
  margin: 0.125rem;
}
.fab a {
  position: absolute;
  right: 2rem;
  bottom: 2rem;
  width: 3.75rem;
  height: 3.75rem;
  border-radius: 50%;
  background-color: #ef5350;
  box-shadow: 0rem 0rem 0.5rem #000000;
  z-index: 1000;
  transition: width 0.35s, height 0.35s, background-color 0.35s, border-radius 0.2s;
}
.fab:hover a {
  right: 0rem;
  bottom: 0rem;
  width: 100%;
  height: 100%;
  border-radius: 0px;
}
.fab:hover a img {
  display: none;
}
.fab.exercises:hover a {
  background: linear-gradient(55deg, #ef5350, #ffcc80);
}
.fab.songs:hover a {
  background: linear-gradient(55deg, #006064, #4db6ac);
}
.fab img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
#login h1 {
  font-size: 5.25em;
  line-height: 5.5rem;
  mix-blend-mode: exclusion;
  margin: 3rem 0 3.75rem 0;
}
#login input {
  width: 100%;
  height: 3rem;
  padding: 1.5rem;
  margin-bottom: 0.75rem;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 400;
  font-size: 1.25rem;
  color: #263238;
  text-align: center;
  background-color: #f5f5f5;
  border: none;
  border-radius: 1.5rem;
}
#login a {
  text-align: center;
  width: 100%;
}
#chordList {
  position: relative;
  margin-top: 3rem;
}
#sortType,
#sortOrder {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 400;
  font-weight: 700;
  font-size: 1rem;
  text-transform: uppercase;
  text-align: center;
  color: #ef5350;
}
#chordList #sortOverlay {
  position: absolute;
  z-index: 1000;
  left: 0;
  right: 0;
  width: 14.25em;
  padding: 1rem 1.5rem;
  margin: auto;
  background-color: #f5f5f5;
  border-radius: 0.25rem;
  box-shadow: 0rem 0rem 0.5rem #000000;
}
#chordList #sortOverlay label {
  display: block;
}
#chordList #sortOverlay label.header {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 400;
  font-weight: 700;
  font-size: 1rem;
  text-transform: uppercase;
  text-align: center;
  color: #263238;
  text-align: left;
}
#chordList #sortOverlay label.radio {
  padding: 0.75rem 1;
  cursor: pointer;
}
#chordList #sortOverlay label input[type="radio"] {
  margin: 0 1rem;
}
#chordList #sortOverlay label:nth-of-type(4) {
  margin-top: 0.75rem;
}
.song_detail section:not(#saved) {
  margin-top: 2.125rem;
}
i {
  display: inline-block;
}
i.strum_down {
  width: 1.25rem;
  height: 1.25rem;
  background-image: url('../img/strum_down.svg');
}
i.strum_up {
  width: 1.25rem;
  height: 1.25rem;
  background-image: url('../img/strum_up.svg');
}
i.strum_blank {
  width: 1.25rem;
  height: 1.25rem;
}
i.strum_mute {
  width: 0.625rem;
  height: 0.625rem;
  margin-top: 0.25rem;
  background-image: url('../img/strum_mute.svg');
}
i.strum_accent {
  width: 0.625rem;
  height: 0.625rem;
  margin-top: 0.25rem;
  background-image: url('../img/strum_accent.svg');
}
#saved {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(55deg, #006064, #4db6ac);
  display: flex;
  flex-flow: column;
  padding: 0.75rem;
  opacity: .95;
  animation-duration: .7s;
  animation-delay: 1s;
  animation-timing-function: ease;
  animation-name: transparentFade;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
@keyframes transparentFade {
  from {
    opacity: .95;
  }
  to {
    opacity: 0;
    z-index: -1000;
  }
}
#saved h1,
#saved #state {
  font-family: 'Lobster', cursive;
  -webkit-font-smoothing: antialiased;
  font-size: 2.25rem;
  text-align: center;
  color: #f5f5f5;
}
#saved img {
  display: block;
  width: 8rem;
  height: 6.375rem;
  margin: auto;
}
.bg_exercise .form {
  margin-top: 3.75rem;
}
.form {
  margin-top: 1rem;
  display: flex;
  flex-flow: column;
}
.form label {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 400;
  color: #f5f5f5;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  font-size: 1em;
  font-weight: 700;
  opacity: .3;
  text-transform: uppercase;
  height: 1.25rem;
}
.form input {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 400;
  color: #f5f5f5;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  font-size: 2.25em;
  font-weight: 400;
  opacity: 1;
  background: none;
  border: 0px;
  border-bottom: 1px solid rgba(245, 245, 245, 0.15);
  margin-bottom: 0.75rem;
}
.form input::placeholder {
  color: rgba(245, 245, 245, 0.3);
}
.form input::-webkit-input-placeholder {
  color: rgba(245, 245, 245, 0.3);
}
.form input::-moz-placeholder {
  color: rgba(245, 245, 245, 0.3);
}
.form input::-ms-input-placeholder {
  color: rgba(245, 245, 245, 0.3);
}
#save {
  display: block;
  width: 6rem;
  margin: 0.75rem auto 0 auto;
}
#save img {
  display: block;
  box-sizing: content-box;
  width: 1.5rem;
  padding: 0.75rem;
  margin: auto;
}
.forms h4,
.forms .content *,
.forms button {
  color: #f5f5f5;
  -webkit-font-smoothing: antialiased;
}
.forms #s_new {
  margin-top: 0.75rem;
}
.forms #s_new button {
  border: none;
  background: none;
  height: 3rem;
  margin: 0;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 400;
  font-weight: 700;
  font-size: 1rem;
  text-transform: uppercase;
  text-align: center;
  color: #f5f5f5;
}
.forms #s_new button:hover {
  mix-blend-mode: overlay;
}
.forms #s_new i {
  display: inline-block;
}
.forms #s_new i.plus {
  width: 0.75rem;
  height: 0.75rem;
  background-image: url('../img/plus.svg');
}
.forms section {
  margin-top: 1.5rem;
}
.forms .content li {
  border-right: 1px solid rgba(245, 245, 245, 0.25);
}
.forms .content li.active {
  background-color: rgba(245, 245, 245, 0.2) !important;
}
#s_strum ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#s_strum ul li {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1.75rem;
  padding: 0.625rem;
  border-radius: 0.625rem;
}
#s_strum ul li.active {
  background-color: rgba(245, 245, 245, 0.2) !important;
}
#s_strum i {
  display: inline-block;
}
#s_strum i.strum_down {
  width: 1.25rem;
  height: 1.25rem;
  background-image: url('../img/strum_down_white.svg');
}
#s_strum i.strum_up {
  width: 1.25rem;
  height: 1.25rem;
  background-image: url('../img/strum_up_white.svg');
}
#s_strum i.strum_blank {
  width: 1.25rem;
  height: 1.25rem;
}
#s_strum i.strum_mute {
  width: 0.625rem;
  height: 0.625rem;
  margin-top: 0.25rem;
  background-image: url('../img/strum_mute_white.svg');
}
#s_strum i.strum_accent {
  width: 0.625rem;
  height: 0.625rem;
  margin-top: 0.25rem;
  background-image: url('../img/strum_accent_white.svg');
}
.bg_song .keyboard {
  z-index: 1000;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 14.375rem;
  padding: 1rem 1.5rem;
  background-color: #f5f5f5;
}
.bg_song .keyboard .alpha,
.bg_song .keyboard .accent {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  margin-bottom: 0.125rem;
}
.bg_song .keyboard .alpha button,
.bg_song .keyboard .accent button {
  flex: 1 0 auto;
  width: auto;
  height: 2rem;
  margin: 0rem 0.0625rem;
  border: 1px solid rgba(0, 151, 167, 0);
  border-radius: 0.625rem;
  color: #0097a7;
  background-color: #f5f5f5;
  outline: none;
}
.bg_song .keyboard .alpha button:hover,
.bg_song .keyboard .accent button:hover {
  box-sizing: border-box;
  border: 1px solid rgba(0, 151, 167, 0.4);
}
.bg_song .keyboard .accent button {
  flex-basis: 50%;
}
.bg_song .keyboard .active {
  background-color: rgba(0, 151, 167, 0.2) !important;
}
.bg_song .keyboard .submit {
  display: flex;
}
.bg_song .keyboard .submit button {
  margin: 0.75rem 0;
  background: none;
  color: #0097a7;
  border: 3px solid #0097a7;
}
.bg_song .keyboard .submit button:hover {
  background-color: rgba(0, 151, 167, 0.15);
}
.bg_song .keyboard .submit button:first-of-type {
  margin-right: 0.75rem;
}
.bg_song .keyboard i {
  display: inline-block;
}
.bg_song .keyboard i.strum_down {
  width: 1.25rem;
  height: 1.25rem;
  background-image: url('../img/strum_down_teal.svg');
}
.bg_song .keyboard i.strum_up {
  width: 1.25rem;
  height: 1.25rem;
  background-image: url('../img/strum_up_teal.svg');
}
.bg_song .keyboard i.strum_blank {
  width: 1.25rem;
  height: 1.25rem;
  background-image: url('../img/strum_blank_teal.svg');
}
.bg_song .keyboard i.strum_mute {
  width: 0.625rem;
  height: 0.625rem;
  margin-top: 0.25rem;
  background-image: url('../img/strum_mute_teal.svg');
}
.bg_song .keyboard i.strum_accent {
  width: 0.625rem;
  height: 0.625rem;
  margin-top: 0.25rem;
  background-image: url('../img/strum_accent_teal.svg');
}
.bg_song .keyboard.strum .alpha {
  justify-content: center;
  flex-wrap: wrap;
}
.bg_song .keyboard.strum .alpha h4 {
  color: #0097a7;
  flex-basis: 100%;
}
.bg_song .keyboard.strum .alpha button {
  max-width: 2.75rem;
}
.bg_exercise .keyboard {
  z-index: 1000;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 14.375rem;
  padding: 1rem 1.5rem;
  background-color: #f5f5f5;
}
.bg_exercise .keyboard .alpha,
.bg_exercise .keyboard .accent {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  margin-bottom: 0.125rem;
}
.bg_exercise .keyboard .alpha button,
.bg_exercise .keyboard .accent button {
  flex: 1 0 auto;
  width: auto;
  height: 2rem;
  margin: 0rem 0.0625rem;
  border: 1px solid rgba(239, 83, 80, 0);
  border-radius: 0.625rem;
  color: #ef5350;
  background-color: #f5f5f5;
  outline: none;
}
.bg_exercise .keyboard .alpha button:hover,
.bg_exercise .keyboard .accent button:hover {
  box-sizing: border-box;
  border: 1px solid rgba(239, 83, 80, 0.4);
}
.bg_exercise .keyboard .accent button {
  flex-basis: 50%;
}
.bg_exercise .keyboard .active {
  background-color: rgba(239, 83, 80, 0.2) !important;
}
.bg_exercise .keyboard .submit {
  display: flex;
}
.bg_exercise .keyboard .submit button {
  margin: 0.75rem 0;
  background: none;
  color: #ef5350;
  border: 3px solid #ef5350;
}
.bg_exercise .keyboard .submit button:hover {
  background-color: rgba(239, 83, 80, 0.15);
}
.bg_exercise .keyboard .submit button:first-of-type {
  margin-right: 0.75rem;
}
.bg_exercise .keyboard i {
  display: inline-block;
}
.bg_exercise .keyboard i.strum_down {
  width: 1.25rem;
  height: 1.25rem;
  background-image: url('../img/strum_down_teal.svg');
}
.bg_exercise .keyboard i.strum_up {
  width: 1.25rem;
  height: 1.25rem;
  background-image: url('../img/strum_up_teal.svg');
}
.bg_exercise .keyboard i.strum_blank {
  width: 1.25rem;
  height: 1.25rem;
  background-image: url('../img/strum_blank_teal.svg');
}
.bg_exercise .keyboard i.strum_mute {
  width: 0.625rem;
  height: 0.625rem;
  margin-top: 0.25rem;
  background-image: url('../img/strum_mute_teal.svg');
}
.bg_exercise .keyboard i.strum_accent {
  width: 0.625rem;
  height: 0.625rem;
  margin-top: 0.25rem;
  background-image: url('../img/strum_accent_teal.svg');
}
.bg_exercise .keyboard.strum .alpha {
  justify-content: center;
  flex-wrap: wrap;
}
.bg_exercise .keyboard.strum .alpha h4 {
  color: #ef5350;
  flex-basis: 100%;
}
.bg_exercise .keyboard.strum .alpha button {
  max-width: 2.75rem;
}
.chordHeader h1 {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 400;
  font-size: 1.5em;
  color: #f5f5f5;
}
#timer {
  position: relative;
  width: 19.5rem;
  margin: 3rem auto;
  height: 9.75rem;
}
#timer  > img,
#timer #arc {
  width: 19.5rem;
  height: 9.75rem;
  position: absolute;
  top: 0;
  left: 0;
}
#timer #control {
  display: flex;
  flex-flow: column;
  align-items: center;
  max-width: 9.375rem;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
#timer #control p {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 400;
  font-size: 3.75em;
  font-weight: 400;
  color: #f5f5f5;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  line-height: 3.75rem;
}
#timer #control img {
  box-sizing: content-box;
  width: 1.875rem;
  height: 1.875rem;
  padding: 0.75rem;
}
#timer #arc {
  z-index: 1;
}
#timer  > img {
  z-index: 2;
}
#timer #control {
  z-index: 3;
}
#drawer {
  position: absolute;
  top: 25rem;
  left: 0;
  width: 100%;
  background-color: white;
}
#drawer article h4 {
  color: #0097a7;
  line-height: 2.25rem;
  height: 2.25rem;
  border-bottom: 1px solid rgba(38, 50, 56, 0.1);
}
#drawer article ul {
  margin: 0.375rem;
}
#drawer article li {
  box-shadow: 0rem 0rem 0.5rem rgba(38, 50, 56, 0.25);
  background-color: white;
}
#drawer article .active {
  background-color: #0097a7;
}
#drawer article .active h5,
#drawer article .active h6 {
  color: #f5f5f5;
  -webkit-font-smoothing: antialiased;
}
#drawer article .active:hover {
  background-color: rgba(0, 151, 167, 0.9);
}
#drawer .submit {
  display: flex;
  justify-content: center;
}
#drawer .submit button {
  background: none;
  color: #ff8a65;
  border: 3px solid #ff8a65;
}
#drawer .submit button:hover {
  background-color: rgba(255, 138, 101, 0.15);
}
#drawer .submit button:first-of-type {
  margin-right: 0.75rem;
}
#changes .log li {
  display: flex;
  justify-content: space-between;
  box-shadow: none;
  height: 3rem;
  padding: 0 1.125rem;
}
#changes .log h5,
#changes .log h6 {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 400;
  font-size: 1.25rem;
  color: #263238;
  text-align: center;
}
#charts canvas {
  background-color: #ff8a65;
  height: 485px;
}
#charts #axis {
  width: 100%;
  height: 485px;
  max-height: 485px;
}
#charts #axis #y {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  padding: 0;
}
#charts #axis #y li {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 400;
  color: #263238;
  -webkit-font-smoothing: antialiased;
  font-size: 1em;
  font-weight: 700;
  text-transform: uppercase;
  opacity: .5;
  margin-left: 1.125rem;
  background: none;
}
#charts #axis #x {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: auto 0rem;
  padding: 0.5rem 1.5rem;
  background: linear-gradient(55deg, #000000, #37474f);
}
#charts #axis #x li {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 400;
  color: #f5f5f5;
  -webkit-font-smoothing: antialiased;
  font-size: 1em;
  font-weight: 700;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
  background: none;
}
#charts #axis li {
  box-shadow: none;
}
.pagination {
  background-color: #0097a7;
}
