@import 'mixins.less';

*{
    box-sizing: border-box;
    text-decoration: none;
    margin:0;
    padding:0;
    .f-detail;
}

body{
    &.bg_primary    {   .gradient(gray);    }
    &.bg_exercise   {   .gradient(orange);  }
    &.bg_song       {   .gradient(blue);    }
    &.bg_photo      {   .gradient(guitar);  }
    &.bg_white {
        h1, h2, h3, footer { color:@black;  }
    }
}

body{
    padding: 12/16rem 6/16rem 0 6/16rem;
}

h1              { .f-title; }
h2, h3          { .f-sml; }
h4              { .f-section; }
h5              { .f-label; }
h6              { .f-detail; }

button{
    width: 100%;
    height: 48/16rem;
    margin: 24/16em 0;
    vertical-align: middle;
    .f-button;
    background-color: #000;
    border: 3px solid @teal;
    border-radius: 24/16em;
    cursor: pointer;
}

a{
    display: inline-block;
    .f-detail(@teal);
}

header a{
    position: absolute;
    top:24/16rem;
    &#primary    { left:24/16rem;}
    &#secondary  { right: 24/16rem; }
}


footer{
    margin-top: 24/16rem;
    .f-sml;
    text-align: center;
    opacity: .25;
}



//                          COMPONENTS

ul{
    list-style-type: none;
    padding-left: 0rem;
    &.list{
        margin: 60/16rem 0;

        li{
            transition: background-color .3s;
            background-color: @white;
            margin-bottom: 6/16rem;
            position: relative;
            border-radius: 4/16rem;
            .shadow;
            &:hover{
                background-color: #fff;
                transition: background-color .3s;
            }

            a{
                display: flex;
                flex-wrap: wrap;

            }

            img{
                width: 32/16rem;
                height: 32/16rem;
                flex:0 1 auto;
            }
        }
    }
    &.landing{
        a{
            padding: 24/16rem;
        }

        img{
            margin-right: 12/16rem;
            order:1;
        }

        div{
            order:2;
        }
    }

    &.exercises{
        a{
            align-items: center;
            padding: 1rem 24/16rem;
        }

        img{
            flex:0 1 auto;
            order:3;
            margin-left: 12/16rem;
        }

        h5{
            flex:1 1 auto;
            order:1;
        }

        h6{
            flex:0 1 auto;
            order:2;
            .f-label(@black);
        }
    }

    &.songs{
        a{
            align-items: center;
            padding: 1rem 24/16rem;
        }

        div{
            flex:1 1 auto;
            order:1;
        }

        img{
            flex:0 1 auto;
            order:2;
            margin-left: 12/16rem;
        }
    }

    &.content{
        display: flex;
        flex-wrap: wrap;
        justify-content:center;
        margin:0 18/16rem;
        li{
            padding: 0 12/16rem;
            margin: 6/16rem 0;
            height: 44/16rem;
            line-height: 44/16rem;
            border-right: 1px solid #ddd;
            .f-chords;
        }
    }

    &.strum{
        display: flex;
        flex-wrap: wrap;
        justify-content:center;
        margin:12/16rem 18/16rem 0 18/16rem;
        padding-left: 0rem;
        li{
            display: flex;
            flex-flow: column;
            align-items: center;
            margin: 2/16rem;
        }
    }
}

.fab {
    a{
    	position: absolute;
    	right: 32/16rem;
    	bottom: 32/16rem;
    	width:60/16rem;
    	height: 60/16rem;
    	border-radius:50%;
    	background-color: @red;
    	.shadow;
        z-index: 1000;
        transition: width .35s,
    				height .35s,
    				background-color .35s,
    				border-radius .2s;
    }
	&:hover a{
        right: 0rem;
        bottom: 0rem;
		width:100%;
		height:100%;
		border-radius: 0px;
        img{
            display: none;
        }
	}
    &.exercises:hover a{
        .gradient(orange);
    }
    &.songs:hover a{
        .gradient(blue);
    }
    img{
        position: absolute;
        top:0;
        bottom:0;
        left:0;
        right:0;
        margin: auto;
    }
}



//                          LOGIN

#login{
    h1{
        font-size: 84/16em;
        line-height: 88/16rem;
        mix-blend-mode: exclusion;
        margin: 48/16rem 0 60/16rem 0;

    }

    input{
        width: 100%;
        height: 48/16rem;
        padding: 24/16rem;
        margin-bottom: 12/16rem;
        .f-button(@black);
        background-color: @white;
        border: none;
        border-radius: 24/16rem;
    }

    a{
        text-align: center;
        width: 100%;
    }
}


//                          EXERCISES

#chordList{
    position: relative;
    margin-top: 48/16rem;
}

#sortType, #sortOrder{
    .f-section;
}

#chordList #sortOverlay{
    position: absolute;
    z-index: 1000;
    left:0;
    right:0;
    width: 228/16em;
    padding: 1rem 24/16rem;
    margin: auto;
    background-color: @white;
    border-radius: 4/16rem;
    .shadow;

    label{
        display: block;
        &.header{
            .f-section(@black);
            text-align: left;

        }
        &.radio{
            padding: 12/16rem 1;
            cursor: pointer;
        }
        input[type="radio"]{
            margin: 0 1rem;
        }
        &:nth-of-type(4){
            margin-top:12/16rem;
        }

    }
}



//                          SONGS

.song_detail{
    section:not(#saved){
        margin-top: 34/16rem;
    }
}

i{
    display: inline-block;
    &.strum_down{
        width: 20/16rem;
        height: 20/16rem;
        background-image: url('../img/strum_down.svg');
    }
    &.strum_up{
        width: 20/16rem;
        height: 20/16rem;
        background-image: url('../img/strum_up.svg');
    }
    &.strum_blank{
        width: 20/16rem;
        height: 20/16rem;
    }
    &.strum_mute{
        width: 10/16rem;
        height: 10/16rem;
        margin-top: 4/16rem;
        background-image: url('../img/strum_mute.svg');
    }
    &.strum_accent{
        width: 10/16rem;
        height: 10/16rem;
        margin-top: 4/16rem;
        background-image: url('../img/strum_accent.svg');
    }
}

#saved{
    position: absolute;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
    .gradient(blue);
    display: flex;
    flex-flow: column;
    padding: 12/16rem;
    opacity: .95;
    animation-duration: .7s;
    animation-delay: 1s;
    animation-timing-function: ease;
    animation-name: transparentFade;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;

    @keyframes transparentFade{
        from{ opacity: .95; }
        to  { opacity: 0; z-index: -1000;}
    }

    h1, #state{
        .f-title;
    }
    img{
        display: block;
        width: 128/16rem;
        height: 102/16rem;
        margin: auto;
    }
}



//                          NEW/EDIT SONG

.bg_exercise .form{
    margin-top: 60/16rem;
}
.form{
    margin-top: 1rem;
    display: flex;
    flex-flow: column;
    label { .f-form(label); height: 20/16rem;}
    input {
        .f-form(field);
        background:none;
        border: 0px;
        border-bottom: 1px solid fade(@white, 15%);

        margin-bottom: 12/16rem;
        &::placeholder{
            color: fade(@white, 30%);
        }
        &::-webkit-input-placeholder{
            color: fade(@white, 30%);
        }
        &::-moz-placeholder{
            color: fade(@white, 30%);
        }
        &::-ms-input-placeholder{
            color: fade(@white, 30%);
        }
    }
}

#save{
    display:block;
    width: 96/16rem;
    margin: 12/16rem auto 0 auto;
    img{
        display: block;
        box-sizing: content-box;
        width: 24/16rem;
        padding: 12/16rem;
        margin: auto;
    }
}


&.forms {
    h4, .content *, button  {
        color:@white;
        -webkit-font-smoothing: antialiased;
    }

    #s_new {
        margin-top: 12/16rem;
        button{
            border:none;
            background: none;
            height: 48/16rem;
            margin: 0;
            .f-section(@white);
            &:hover{
                mix-blend-mode: overlay;
            }
        }
        i{
            display: inline-block;
            &.plus{
                width: 12/16rem;
                height: 12/16rem;
                background-image: url('../img/plus.svg');
            }
        }
    }
    section{
        margin-top: 24/16rem;
    }
    .content li{
        border-right: 1px solid fade(@white, 25%);
        &.active{
            background-color: fade(@white,20%) !important;
        }
    }
}

#s_strum {
    ul{
        display: flex;
        flex-wrap: wrap;
        justify-content:center;
        li{
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 28/16rem;
            padding: 10/16rem;
            border-radius: 10/16rem;
            &.active{
                background-color: fade(@white,20%) !important;
            }
        }
    }

    i{
        display: inline-block;
        &.strum_down{
            width: 20/16rem;
            height: 20/16rem;
            background-image: url('../img/strum_down_white.svg');
        }
        &.strum_up{
            width: 20/16rem;
            height: 20/16rem;
            background-image: url('../img/strum_up_white.svg');
        }
        &.strum_blank{
            width: 20/16rem;
            height: 20/16rem;
        }
        &.strum_mute{
            width: 10/16rem;
            height: 10/16rem;
            margin-top: 4/16rem;
            background-image: url('../img/strum_mute_white.svg');
        }
        &.strum_accent{
            width: 10/16rem;
            height: 10/16rem;
            margin-top: 4/16rem;
            background-image: url('../img/strum_accent_white.svg');
        }
    }
}



//                          KEYBOARD

.bg_song .keyboard{
    .keyboard_mixin;
}

.bg_exercise .keyboard{
    .keyboard_mixin(@red);
}
