@import url("https://fonts.googleapis.com/css?family=Lobster");
@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700");
@import url("https://fonts.googleapis.com/css?family=Source+Code+Pro");
/*

H1: Page Title
H2: Page Sub-Title 1
H3: Page Sub-Title 2
H4: Section Header
H5: Label
H6: Description

*/
.shadow {
  box-shadow: 0rem 0rem 0.5rem #000;
}
.f-lobster {
  font-family: 'Lobster', cursive;
  -webkit-font-smoothing: antialiased;
}
.f-roboto {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 400;
}
.f-mono {
  font-family: monospace;
}
* {
  box-sizing: border-box;
  text-decoration: none;
  margin: 0;
  padding: 0;
}
body.bg_primary {
  background: linear-gradient(55deg, #000, #37474F);
}
body.bg_exercise {
  background: linear-gradient(55deg, #EF5350, #FFCC80);
}
body.bg_song {
  background: linear-gradient(55deg, #006064, #4DB6AC);
}
body.bg_photo {
  background-image: url('../img/bg_amp.jpg');
  background-size: cover;
  background-position: top center;
}
body.bg_white h1 {
  color: #263238;
}
body.bg_white h2,
body.bg_white h3 {
  color: #263238;
}
body {
  padding: 0.75rem 0.375rem 0 0.375rem;
}
h1 {
  font-family: 'Lobster', cursive;
  -webkit-font-smoothing: antialiased;
  font-size: 2.25em;
  text-align: center;
  color: #F5F5F5;
}
h2,
h3 {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 400;
  font-size: 1em;
  color: #F5F5F5;
  text-align: center;
}
h4 {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 400;
  font-weight: 700;
  font-size: 1em;
  text-transform: uppercase;
  text-align: center;
  color: #EF5350;
}
h5 {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 400;
  font-size: 1.5em;
  color: #0097A7;
}
*,
h6 {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 400;
  font-size: 1em;
  color: #263238;
  line-height: 1.5em;
}
button {
  width: 100%;
  height: 3rem;
  margin: 1.5em 0;
  vertical-align: middle;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 400;
  font-size: 1.25em;
  color: #0097A7;
  text-align: center;
  background-color: #000;
  border: 3px solid #0097A7;
  border-radius: 1.5em;
  cursor: pointer;
}
a {
  display: inline-block;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 400;
  font-size: 1em;
  color: #0097A7;
  line-height: 1.5em;
}
header a {
  position: absolute;
  top: 1.5rem;
}
header a#primary {
  left: 1.5rem;
}
header a#secondary {
  right: 1.5rem;
}
footer {
  margin-top: 1.5rem;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 400;
  font-size: 1em;
  color: #F5F5F5;
  text-align: center;
  opacity: .25;
}
ul {
  list-style-type: none;
}
ul.list {
  margin: 3.75rem 0;
}
ul.list li {
  transition: background-color 0.3s;
  background-color: #F5F5F5;
  margin-bottom: 0.375rem;
  position: relative;
  border-radius: 0.25rem;
  box-shadow: 0rem 0rem 0.5rem #000;
}
ul.list li:hover {
  background-color: #fff;
  transition: background-color 0.3s;
}
ul.list li a {
  display: flex;
  flex-wrap: wrap;
}
ul.list li img {
  width: 2rem;
  height: 2rem;
  flex: 0 1 auto;
}
ul.landing a {
  padding: 1.5rem;
}
ul.landing img {
  margin-right: 0.75rem;
  order: 1;
}
ul.landing div {
  order: 2;
}
ul.exercises a {
  align-items: center;
  padding: 1rem 1.5rem;
}
ul.exercises img {
  flex: 0 1 auto;
  order: 3;
  margin-left: 0.75rem;
}
ul.exercises h5 {
  flex: 1 1 auto;
  order: 1;
}
ul.exercises h6 {
  flex: 0 1 auto;
  order: 2;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 400;
  font-size: 1.5em;
  color: #263238;
}
ul.songs a {
  align-items: center;
  padding: 1rem 1.5rem;
}
ul.songs div {
  flex: 1 1 auto;
  order: 1;
}
ul.songs img {
  flex: 0 1 auto;
  order: 2;
  margin-left: 0.75rem;
}
ul.content {
  font-family: monospace !important;
  font-size: 2.25em !important;
  color: #263238 !important;
  display: flex;
  flex-wrap: wrap;
}
ul.content li {
  background-color: orange;
  margin-right: 0.375rem;
}
.fab a {
  position: absolute;
  right: 2rem;
  bottom: 2rem;
  width: 3.75rem;
  height: 3.75rem;
  border-radius: 50%;
  background-color: #EF5350;
  box-shadow: 0rem 0rem 0.5rem #000;
  z-index: 1000;
  transition: width 0.35s, height 0.35s, background-color 0.35s, border-radius 0.2s;
}
.fab:hover a {
  right: 0rem;
  bottom: 0rem;
  width: 100%;
  height: 100%;
  border-radius: 0px;
}
.fab:hover a img {
  display: none;
}
.fab.exercises:hover a {
  background: linear-gradient(55deg, #EF5350, #FFCC80);
}
.fab.songs:hover a {
  background: linear-gradient(55deg, #006064, #4DB6AC);
}
.fab img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
#login h1 {
  font-size: 5.25em;
  line-height: 5.5rem;
  mix-blend-mode: exclusion;
  margin: 3rem 0 3.75rem 0;
}
#login input {
  width: 100%;
  height: 3rem;
  padding: 1.5rem;
  margin-bottom: 0.75rem;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 400;
  font-size: 1.25em;
  color: #263238;
  text-align: center;
  background-color: #F5F5F5;
  border: none;
  border-radius: 1.5rem;
}
#login a {
  text-align: center;
  width: 100%;
}
#chordList {
  position: relative;
  margin-top: 3rem;
}
#sortType,
#sortOrder {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 400;
  font-weight: 700;
  font-size: 1em;
  text-transform: uppercase;
  text-align: center;
  color: #EF5350;
}
#chordList #sortOverlay {
  position: absolute;
  z-index: 1000;
  left: 0;
  right: 0;
  width: 14.25em;
  padding: 1rem 1.5rem;
  margin: auto;
  background-color: #F5F5F5;
  border-radius: 0.25rem;
  box-shadow: 0rem 0rem 0.5rem #000;
}
#chordList #sortOverlay label {
  display: block;
}
#chordList #sortOverlay label.header {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 400;
  font-weight: 700;
  font-size: 1em;
  text-transform: uppercase;
  text-align: center;
  color: #263238;
  text-align: left;
}
#chordList #sortOverlay label.radio {
  padding: 0.75rem 0;
  cursor: pointer;
}
#chordList #sortOverlay label input[type="radio"] {
  margin: 0 1rem;
}
#chordList #sortOverlay label:nth-of-type(4) {
  margin-top: 0.75rem;
}
.song_detail section:first-of-type {
  margin-top: 3rem;
}
